*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #55E6A5;
    --white: #fff;
    --colorblack: black;
    --gray: #09101a;
    --gray-900: #141c27;

}
.btn-gray {
    background-color: var(--gray) !important;
    color: var(--white);
    border: none;
    
}
.btn-gray-900 {
    background-color: var(--gray-900) !important;
    color: var(--white);
    border: none;
    
}
.btn-gray-900:hover {
    background-color: var(--primary) !important;
    color: var(--colorblack);
    
}
.card{
    background-color: var(--gray);
    color: var(--white);
}
.mt-150 {
    margin-top: 150px;
}
.layout-space {

    padding-left: 15px;
}
.text-primary{
    
    color: var(--primary) !important;
}
.text-secondary{
    color: var(--colorblack) !important;
}


.hero-image {
    background-image: url('./../images/banner_bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;

}
.btn {
    border-radius: 0%;

}

.btn-primary {
    background-color: var(--primary) !important;
    border-color:  var(--primary) !important;
    color: #1d1d1d;
    
}
.btn-primary:hover {
    background-color: #1d1d1d !important;
    border-color:#1d1d1d !important;
    color: white;
    
}
.btn-circle{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--primary) !important;
}

.btn-circle i {
    color: black;
}

/* about section */
.experience-image {
    position: relative;
}

.experience-card {
    position: absolute;
    background: var(--primary);
    height: 130px;
    width: 300px;
    bottom: 0px;
    right: 90px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}
.experience-badge i {
    background: var(--white);
    color: var(--primary);
}


.experience-decor {
    position: absolute;
    right: -0px;
    top: -40px;
    z-index: -1;
    height: 200px;
    width: 200px;
}

/* service section */
.card-body {
    position: relative;
}

.card-badge {
    position: absolute;
    background: var(--primary);
    height: 80px;
    width: 100px;
    top: -40px;
    left: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}
.card-badge-font {
    color: var(--colorblack);

}
.btn-about-me-section{
    border: 1px #55E6A5 solid;
    color: var(--white);
    position: absolute;
    left: 90px;


}

.btn-about-me-section:hover{
    background-color: var(--primary);
    color: var(--white);
}

/* skills section */
.skills-section {
    background: var(--gray);
}

.skills-card {
    background-color: var(--gray-900);
    border: 1px solid gray;

}
.title-underline {
    border: 1px solid #55E6A5;
    width: 250px;
}

.progress-bar {
    border: 5px solid #55E6A5 !important;
}

/* recent-protfolio-section  */

.protfolio-gallery-slider {
    background-color: var(--primary);
    height: 200px;
    width: 100%;
}

/* marquee {
    width: 100%;
    height: 200px;
    background-color: var(--primary);

} */
.protfolio-slider-content ul {
    list-style: none;

   
}
.protfolio-slider-content ul li {
    font-size: 80px;
    font-weight: 200;
    text-transform: uppercase;


}

/* blog section */

.blog-section {
    background: var(--gray);
}






